ion-app {
    --ion-background-color: #fff;
}

ion-item {
    --background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

ion-header, ion-content {
    font-family: "Oxygen"
}

ion-title {
    font-weight: bold;
}
